* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.container {
    width: 700px;
    height: 650px;
    margin: 0 auto;
    background: linear-gradient(45deg, #a8edea, #fed6e3);
    border-radius: 35px;
    position: relative;
    z-index: 1;
}

.request {
    height: 100px;
    background: linear-gradient(200deg, #a8edea, #fed6e3);
    display: flex;
    justify-content: center;
    align-items: center;

}

.title {
    text-align: center;
    font-size: 32px;
    padding: 15px;
    color: transparent;
    background: #6e6f81;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
    margin: 0;


}

.inp {
    width: 240px;
    height: 35px;
    border-radius: 6px;
    border: none;
    padding: 15px;
    appearance: auto;
    outline: none;

}


.btn {
    background: #fbc6d7;
    width: 80px;
    height: 35px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    right: 9px;
}

.btn:hover {
    border: 1px solid #ccc;
    transition: all 1s;
}


/* card  */

.card {
    position: relative;
    text-align: center;
    padding: 30px;
    background: #dce3e311;
    width: 290px;
    height: 415px;
    box-shadow: 0px 5px 20px rgba(27, 108, 114, 0.25);
    margin: 0 auto;
    border-radius: 6px;
    margin-top: 40px;


}

.card::before {
    content: '';
    position: absolute;
    top: 8px;
    left: 10px;
    z-index: -1;
    display: block;
    width: calc(100% - 20px);
    height: 400px;
    background-color: #dce3e323;
    box-shadow: 0px 5px 20px rgba(27, 108, 114, 0.25);
    border-radius: 6px;
}



.card-city {
    color: transparent;
    background: #7c8483;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.5);
    font-size: 26px;

}

.card-weather {
    margin-top: 20px;
    font-size: 60px;
    color: transparent;
    background: #666666;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.5);
}

.card-description {
    margin-top: 20px;
    color: transparent;
    background: #151414;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.5);
    font-size: 24px;
}


@media (max-width: 320px)  {
    .container {
        border-radius: 0;
        height: 800px;
    }

    .inp {
        width: 340px;
        height: 55px;
    }

    .btn {
        height: 55px;
    }
    
    .card {
        width: 360px;

    }
}
